# Bağımlılıklar
node_modules/
desktop/node_modules/

# Çıktılar ve Dev Dosyalar (Hata veren yer burası)
dist/
desktop/dist/
build/
*.exe
*.zip
*.msi

# Gizli Bilgiler
.env
.env.*

# Git Hafızası
.git/