# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/aks_erp"

# Server
PORT=3001
CORS_ORIGIN="http://localhost:5173"

# Keycloak
KEYCLOAK_URL="http://localhost:8080"
KEYCLOAK_REALM="AKS"
KEYCLOAK_ADMIN_USER="keycloak_username"
KEYCLOAK_ADMIN_PASS="keycloak_password"

# VioTicari API
VIO_ORIGIN="https://cloud.local.com.tr:9200"
VIO_WS_PATH="ws/genel"
VIO_API="demo"
VIO_USER="vio_username"
VIO_PASS="vio_password"
VIO_SQL_SERVER="(local)\\DEMO"
VIO_SQL_DB="AY13MAS"
