# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/aks_erp"

# Server
PORT=3001
CORS_ORIGIN="http://localhost:5173"

# Keycloak
KEYCLOAK_URL="http://localhost:8080"
KEYCLOAK_REALM="AKS"
KEYCLOAK_ADMIN_USER="keycloak_username"
KEYCLOAK_ADMIN_PASS="keycloak_password"
